---
import githubIcon from '../assets/logos/github.svg';
---

<a
  href="https://github.com/henkisdabro"
  target="_blank"
  rel="noopener noreferrer"
  class="github-link"
  aria-label="Visit Henrik's GitHub Profile"
>
  <img
    src={githubIcon.src}
    alt="GitHub"
    class="github-icon"
  />
</a>
