---
import linkedinIcon from '../assets/logos/linkedin.svg';
---

<a
  href="https://www.linkedin.com/in/henriksoderlund/"
  target="_blank"
  rel="noopener noreferrer"
  class="linkedin-link"
  aria-label="Visit Henrik's LinkedIn Profile"
>
  <img
    src={linkedinIcon.src}
    alt="LinkedIn"
    class="linkedin-icon"
  />
</a>
